.home {
  .home-img-wrapper {
    position: relative;

    .home-img {
      width: 100%;
      max-height: 100vh;
    }
  }

  .home-content {
    position: absolute;
    top: 300px;
    max-width: 500px;

    .home-content-title {
      margin-bottom: 10px;
      font-weight: 600;
    }

    .home-content-text {
      margin-bottom: 10px;
    }

    .home-content-btn {
      text-decoration: none;
      display: block;
      text-align: center;
    }
  }
}
