.home {
  .home-img-wrapper {
    position: relative;

    .home-img {
      width: 100%;
      max-height: 100vh;
    }
  }

  .home-content {
    position: absolute;
    top: 300px;
    max-width: 500px;

    .home-content-title {
      color: $white;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .home-content-text {
      margin-bottom: 20px;
      color: $white;
    }

    .home-link-to-products {
      padding: 0 140px;
    }
  }
}
