.product {
  padding: 50px 0;

  .product-wrapper {
    display: flex;
  }

  .product-content {
    display: flex;
    flex-direction: column;
  }

  .product-price {
    margin-bottom: 10px;
    font-weight: 600;
  }

  .product-text {
    margin-bottom: 10px;
  }

  .product-btn-add-to-basket {
    margin-right: 10px;
  }
}
