.header {
  .header-btn {
    text-decoration: none;
  }

  .header-links {
    margin-left: 20px;
  }

  .header-btn-basket {
    margin-left: 20px;

    &:hover svg {
      color: $base-color;
    }
  }
}

.header-link {
  text-decoration: none;
  margin-right: 10px;
  color: $base-color;
}
