/* stylelint-disable selector-class-pattern */
.css-1pxa9xg-MuiAlert-message {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.modal-result-btn-group {
  display: block;
  margin: 20px auto;
}
