@import "scss-reset/reset";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap";

html, body {
  height: 100%;
  font: 16px Manrope, sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

body .core-button {
  font: 600 18px/50px Manrope, sans-serif;
  background-color: lighten($base-color, 75%);
  border: 2px solid $base-color;
  border-radius: 30px;
  box-shadow: $base-color 4px 4px 0 0;
  color: $base-color;
  cursor: pointer;
  display: inline-block;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  user-select: none;
  transition: all .2s;

  &:hover {
    background-color: $white;
    border: 2px solid darken($base-color, 10%);
  }

  &:active {
    box-shadow: darken($base-color, 10%) 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  &:disabled {
    opacity: .5;
    box-shadow: none;
    border-color: lighten($base-color, 65%);
  }
}

body .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: $base-color;
}
